$pink: #b75959;
$grey-light: #ddd;
$breakpoint: 575px;

body {
  background-color: #313538;
  color: $grey-light;
  background-image: linear-gradient(to right bottom, rgba(#222, 0.9), rgba(#222, 0.9)), url(/assets/images/back.jpg);
}

.navigation {
  .nav-item {
    text-align: center;
  }
}

.notification {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
  border-radius: 0;
}

/* --- loader --- */

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --- welcome --- */

.welcome {
  background-image: linear-gradient(to right bottom, rgba(#222, 0.9), rgba(#222, 0.9)), url(/assets/images/back.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;

  .welcome-intro {
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: $breakpoint) {
      max-width: 90%;
      text-align: center;
    }
  }

  .welcome-title {
    font-weight: normal;
    font-size: 450%;
    color: $pink;
    line-height: 1;

    @media screen and (max-width: $breakpoint) {
      font-size: 350%;
    }
  }

  .welcome-lead {
    font-size: 250%;
    line-height: 1;

    @media screen and (max-width: $breakpoint) {
      font-size: 150%;
    }
  }
}

/* --- search-books --- */

.search-books {
  .form-control {
    border-radius: 0;
    border: 0;
    color: #868686;
    background: gainsboro;
    font-size: 14px;
    height: auto;
    padding: 0.5em;

    &::placeholder {
      color: rgba(#868686, 0.5);
    }
  }
}

/* --- book --- */

.book {
  width: 12rem;
  margin: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 35px 16px 16px;
  position: relative;

  @media screen and (max-width: $breakpoint) {
    width: 7rem;
    padding: 35px 0px 10px;
  }

  .book-cover {
    height: 230px;
    overflow: hidden;
    background-size: cover;
    background-position-x: 50%;

    @media screen and (max-width: $breakpoint) {
      height: 150px;
    }
  }

  .book-title {
    font-size: 15px;
    color: $pink;
    margin: 10px 0 0;
    text-align: center;

    @media screen and (max-width: $breakpoint) {
      font-size: 13px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .book-authors {
    font-size: 14px;
    color: #878787;
    margin: 0;
    text-align: center;

    :not(.book-author) {
      font-size: 12px;
      font-style: italic;
    }

    .book-author {
      display: block;
    }
  }
}

/* --- book-menu --- */
.book-menu {
  position: absolute;
  top: 0;
  right: 0;

  .dropdown-toggle {
    padding: 4px 11px;
    border-radius: 0;
    border: none;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.4);
    color: $grey-light;
    text-transform: lowercase;

    @media screen and (max-width: $breakpoint) {
      padding: 5px 5px;
      font-size: 12px;
    }
  }

  .dropdown-menu {
    padding: 0;
    background-color: transparent;
  }

  .dropdown-item {
    border-radius: 0;
    border: none;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: $grey-light;
    transition: all 0.2s ease;

    @media screen and (max-width: $breakpoint) {
      font-size: 12px;
    }

    &.selected-item {
      font-weight: bold;
    }

    &:not(.selected-item):hover {
      background: rgba(0, 0, 0, 0.95);
      color: #fff;
      cursor: pointer;
    }
  }
}

/* --- shelf --- */

.shelf {
  padding: 40px;

  .shelf-name {
    font-weight: normal;
    font-variant: small-caps;
  }

  .shelf-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
